*{
  padding: 0;
  margin: 0;
  
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif ;
  } 
.content {
  flex-grow: 4; /* contenido ocupa el espacio restante */
  padding: 20px; 
  max-width: 1360px; 
  margin: 0 auto; 
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

nav{
  background-color: #23293100 ;
  font-size:  1.2rem ;
  font-weight: 600 ;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 5%;
}
nav a{
  border-radius: 5px;
  border-color: #45a049;
  
}
.btn-circle{
  border-radius: 50%;
}


#logo{
  width: 3%;
  background-color:  none !important;
}

#resultados-lista, h1, li{
color: white;
}

.gradient-custom {

  background: #3E5151;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  

  /* background: #C6FFDD; 
  background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);  
  background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD); */
  






 /* background: #BBD2C5;  
background: -webkit-linear-gradient(to left, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to left, #536976, #BBD2C5); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 

}

#mainNavigation a {
  font-family: 'Cabin', sans-serif;
  font-size:14px;
  text-transform:uppercase;
  letter-spacing:2px;
  text-shadow:1px 1px 2px rgba(0,0,0,0.4)
}

#logoname:hover{
  color:black !important;
}
.nav-item a:hover {
  color:black !important;
}
.nav-item{
  min-width:12vw;
}
#mainNavigation {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:123;
  padding-bottom:120px;
 
  background: #BBD2C5;  
  background: -webkit-linear-gradient(to left, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
#navbarNavDropdown.collapsing .navbar-nav,
#navbarNavDropdown.show .navbar-nav{
  background:#037582;
  padding:12px;
}

#tittle-resultados{
  color: black !important;
}

#soporte{
  color: black !important;
  border: 2px solid black;
  border-radius: 10px;
}
#soporte:hover{
  color: white !important;
  border: 2px solid white;
  border-radius: 10px;
}
.header{
  position: relative;
}
.col-lg-6{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navigation.fixed-top + main .header{
  padding-top: 90px;
}
.main-shape-wrapper{
  position: sticky;
  top: 50%;
  right: 0;
  width: 40%;
}
.navbar-brand{
  width: 60px; 
  height: auto;
}
.bg-contrast{
  margin-top: 4%;
  
}























/* CARDSSSSSSSSSSSSSSSSSSSSSSSSSSSS *//* CARDSSSSSSSSSSSSSSSSSSSSSSSSSSSS *//* CARDSSSSSSSSSSSSSSSSSSSSSSSSSSSS *//* CARDSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* Style inputs with type="text", select elements and textareas */


/* CARDSSSSSSSSSSSSSSSSSSSSSSSSSSSS *//* CARDSSSSSSSSSSSSSSSSSSSSSSSSSSSS *//* CARDSSSSSSSSSSSSSSSSSSSSSSSSSSSS *//* CARDSSSSSSSSSSSSSSSSSSSSSSSSSSSS */